.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .footer__links {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 32px;
  }
  
}