.cover__title {
  max-width: 560px;
  padding-top: 245px;
  margin: 0 auto 32px;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    padding-top: 33px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1.09;
  }
}