.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  padding: 0 0 24px;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 48px;
  }
  
}